*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: 'Inter', sans-serif;
  color: #36b37e;
  font-size: 20px;
  font-weight: 999;
  text-decoration: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.5rem;
}

.hero-section {
  background: url(images/header-illsutration-mobile.png);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#hello {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

#developer {
  font-family: 'Inter', sans-serif;
  color: #36b37e;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: -27%;
  margin-top: -40px;
  color: #172b4d;
}

.container {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: -10%;
  margin-bottom: 10%;
}

.socialMedia ul li {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  margin-top: 105px;
  margin-left: 30px;
  align-content: center;
}

.buton {
  width: 327px;
  height: auto;
  margin-top: 85px;
  padding-right: 30px;
  padding-left: 45px;
  padding-bottom: 30px;
  align-content: center;
}

.recent {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 327px;
  height: 97px;
  margin-left: 26px;
  margin-right: 26px;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
  color: #172b4d;
}

.indicator {
  align-content: center;
  padding-bottom: 30px;
  padding-left: 170px;
}

.multi-post {
  background: url(images/GreyBackground.png), white;
  width: 327px;
  height: 474px;
  background-color: #EBF0EE;
  border-radius: 8px;
  padding-top: 20px;
  margin-left: 26px;
  margin-right: 26px;
  margin-bottom: 20px;

}

.butons {
  width: 323px;
  height: 222px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: white;
  background-position: bottom;
  border-radius: 8px;
  margin-top: 229px;
}

.stories {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 295px;
  height: 57px;
  line-height: 32px;
  margin-top: 16px;
  margin-left: 13px;
  text-align: center;
  color: #3A4A42;
  margin-bottom: 20px;
}

.lenguages {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.ruby {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 106px;
  height: 32px;
  background-color: #EBF0EE;
  background-size: 106px 32px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 8px;
  text-align: center;

}

.css {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 50px;
  height: 32px;
  background-color: #EBF0EE;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 8px;
}

.javaScript {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 89px;
  height: 32px;
  background-color: #EBF0EE;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 8px;
}

.html {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 60px;
  height: 32px;
  background-color: #EBF0EE;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 8px;
}

.see-project {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 500;
  width: 122px;
  height: 48px;
  background-color: #36B37F;
  text-align: center;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 100px;
  padding-top: 10px;
}