*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Inter', sans-serif;
  color: #36b37e;
  font-size: 20px;
  font-weight: 999;
  text-decoration: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.5rem;
}

.hero-section {
  background: url('images/header-illsutration-mobile.png');
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 4rem;
}

.hero-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.name-heading {
  color: #172b4d;
}

.developer-heading {
  color: #36b37e;
  margin-top: -1rem;
}

.word-breaker {
  display: block;
}

p {
  font-family: 'Inter', sans-serif;
}

.intro-para {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #172b4d;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  align-content: center;
  gap: 16px;
}

.buton {
  width: 327px;
  height: auto;
  margin-top: 85px;
  padding-right: 30px;
  padding-left: 45px;
  padding-bottom: 30px;
  align-content: center;
}

.recent {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  padding-bottom: 24px;
  position: relative;
}

.recent::after {
  position: absolute;
  content: '';
  width: 48px;
  height: 4px;
  background-color: #36b37e;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mishy-work-box {
  display: grid;
  align-items: baseline;
  padding: 4rem 26px;
  gap: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: max-content;
}

.project-image {
  display: inline-block;
  height: 16rem;
}

.project-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0 24px 0;
}

.stories {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
}

.project-skills-wrapper {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
}

.project-skill {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 12px;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
}

.see-project-button {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #36b37f;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.see-project-button:active {
  cursor: pointer;
  background-color: #008552;
}

.see-project-button:hover {
  cursor: pointer;
  background-color: #36b37f;
  box-shadow: rgba(54, 179, 127, 0.24);
}

.see-project-button:visited {
  background-color: #008552;
  font-weight: 500;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 4rem 1rem;
  background: url('images/Mask-Group.png'), url('images/illustration-about-me-mobile.png');
  background-repeat: no-repeat no-repeat;
  background-position: right top, left bottom 3.25rem;
}

.headding {
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
}

.about-para {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.resume-btn {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: flex;
  background-color: #36b37f;
  font-size: 17px;
  width: max-content;
  color: white;
  padding: 12px;
  border-radius: 4px;
  align-self: center;
}

.wrap-languages {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  background-image: url(images/icon-languages.png);
  background-repeat: no-repeat;
  background-position: center top 2rem;
}

.cards-languages {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 8px;
}

.languages {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 8.5rem;
}

.final-cards-languages {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: white;
  color: #36b37f;
  border-radius: 4px;
  margin-bottom: 4rem;
}

.wrap-frameworks {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  background-image: url(images/icon-frameworks.png);
  background-repeat: no-repeat;
  background-position: center top 2rem;
  margin-top: 1.5rem;
}

.frameworks {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 8.5rem;
}

.cards-frameworks {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  gap: 8px;
  flex-direction: row;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.final-cards-frameworks {
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: white;
  color: #36b37f;
  border-radius: 4px;
  max-width: fit-content;
}

.final-cards-frameworks.second {
  margin-bottom: 1.5rem;
}

.wrap-skills {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  background-image: url(images/icon-skills.png);
  background-repeat: no-repeat;
  background-position: center top 2rem;
  margin-top: 1.5rem;
}

.skills {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 8.5rem;
}

.cards-skills {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  gap: 8px;
  flex-direction: row;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.final-cards-skils {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: white;
  color: #36b37f;
  border-radius: 4px;
  max-width: fit-content;
}

.final-cards-skills {
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  background-color: white;
  color: #36b37f;
  border-radius: 4px;
}

.final-cards-skills.second {
  margin-bottom: 1.5rem;
}
